# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.flappy-bird-berkanmandaci.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projeler\Odevler\flappy-bird-berkanmandaci\.idea\.idea.flappy-bird-berkanmandaci\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
